- model_class = Opportunity
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @opportunity.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @opportunity.description
%p
  %strong= model_class.human_attribute_name(:date) + ':'
  %br
  = @opportunity.date
%p
  %strong= model_class.human_attribute_name(:start_time) + ':'
  %br
  = @opportunity.start_time
%p
  %strong= model_class.human_attribute_name(:end_time) + ':'
  %br
  = @opportunity.end_time
%p
  %strong= model_class.human_attribute_name(:number_of_positions) + ':'
  %br
  = @opportunity.number_of_positions

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), opportunities_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_opportunity_path(@opportunity), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), opportunity_path(@opportunity), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
